<div class="left-sidebar">
  <h2>Category</h2>
  <div class="panel-group category-products" id="accordian">
    <% categories.each do |category| %>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordian" href="#<%= category.name.parameterize %>">
              <span class="badge pull-right"><i class="fa fa-plus"></i></span>
              <%= category.name %>
            </a>
          </h4>
        </div>
        <div id="<%= category.name.parameterize %>" class="panel-collapse collapse">
          <div class="panel-body">
            <ul>
              <% category.children.each do |child_category| %>
                <li><%= child_category.name %></li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div class="brands_products">
    <h2>Brands</h2>
    <div class="brands-name">
      <ul class="nav nav-pills nav-stacked">
        <% brands.each do |brand| %>
          <li><a href="#"><span class="pull-right">(<%= brand.products.count %>)</span><%= brand.name %></a></li>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="price-range">
    <h2>Price Range</h2>
    <div class="well text-center">
      <input type="text" class="text-center" id="amount" readonly value="$<%= params[:price_min] || '75' %> - $<%= params[:price_max] || '400' %>">
      <div id="slider-range"></div>
      <b class="pull-left">$ 0</b> <b class="pull-right">$ 600</b>
      <br>
      <%= form_tag products_path, method: 'get', id: "searchform" do %>
        <div class="input-group">
          <%= hidden_field_tag  :search, params[:search], placeholder: 'Search', class: 'search input pull-right', id: 's' %>
        </div>
        <%= hidden_field_tag  :price_min, params[:price_min] %>
        <%= hidden_field_tag  :price_max, params[:price_max] %>
        <% if params[:price_min].present? || params[:price_max].present? %>
          <button type="submit" class="center btn btn-default" id="price-reset">Reset</button>
        <% else %>
          <button type="submit" class="center btn btn-default">Submit</button>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="shipping text-center">
    <%= image_tag("home/shipping.jpg") %>
  </div>
</div>
