<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <%= render "shared/sidebar.html.erb" %>
      </div>
      <div class="col-sm-9 padding-right">
        <div class="features_items">
          <h2 class="title text-center">Features Items</h2>
          <% @products.each_slice(3) do |products| %>
            <div class="row">
              <% products.each do |product| %>
                <div class="col-sm-4">
                  <div class="product-image-wrapper">
                    <div class="single-products">
                      <div class="productinfo text-center">
                        <%= image_tag product.images[0].attachment.url(:product) %>
                        <h2><%= product.display_price %></h2>
                        <p><%= product.name %></p>
                        <%= link_to add_item_cart_path(product.master.id), class: 'btn btn-default add-to-cart' do %>
                          <i class="fa fa-shopping-cart"></i>Add to cart
                        <% end %>
                      </div>
                      <div class="product-overlay">
                        <div class="overlay-content">
                          <h2><%= product.display_price %></h2>
                          <p><%= link_to product.name, product %></p>
                          <%= link_to add_item_cart_path(product.master.id), class: 'btn btn-default add-to-cart' do %>
                            <i class="fa fa-shopping-cart"></i>Add to cart
                          <% end %>
                        </div>
                      </div>
                    </div>
                    <div class="choose">
                      <ul class="nav nav-pills nav-justified">
                        <li><a href=""><i class="fa fa-plus-square"></i>Add to wishlist</a></li>
                        <li><a href=""><i class="fa fa-plus-square"></i>Add to compare</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>

          <div class="products-pager" id="products-pager">
            <%= will_paginate @products, inner_window: 2, outer_window: 1 %>
          </div>
        </div>
        <%= render "shared/recomended.html.erb" %>
      </div>
    </div>
  </div>
</section>
